@media (prefers-color-scheme: dark) {
  $secondary-color: #426d7a;

  .dark__theme {
    background: #333;
    color: white;
  }

  header {
    nav a {
      color: white;
    }
    .intro h2 {
      background-color: $secondary-color;
    }
  }

  .duck__wrapper {
    article {
      background-color: $secondary-color;
    }
  }

  .checkout__cart--row {
    article input {
      color: white;
    }
  }

  .checkoutContainer .checkoutForm label span {
    color: white;
  }
}
