* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    scroll-behavior: smooth;
}

/*--------------Sass rules-----------------*/
$primary-color: #556edf;
$secondary-color: #fdbc91;

/*--------------Header & Intro, by Hanna-----------------*/
header {
    font-family: 'Playfair Display', serif;

    nav {
        background-color: $primary-color;
        opacity: 90%;
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;

        h1 {
            font-weight: 600;
        }

        .material-symbols-outlined {
            position: relative;
            top: 25px;
            font-size: 2rem;
        }
    }

    .intro {
        padding-top: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 20px;

        h2 {
            width: 250px;
            height: 250px;
            text-align: center;
            background-color: $secondary-color;
            border-radius: 100%;
            font-weight: 400;
        }

        .intro-img-rubberduck {
            width: 300px;
            height: 300px;
            border-radius: 100%;
        }
    }
}
/*--------------End of 'Header & Intro'-----------------*/

/*--------------Checkout Form, by Hanna-----------------*/
.checkoutContainer {
    min-height: 100vh;
    display: grid;
    place-content: center;
    margin: 5px;
    font-family: sans-serif;

    h3 {
        margin-left: 20px;
        margin-bottom: -10px;
    }

    .checkoutForm {
        width: 90vw;
        max-width: 768px;
        border: 1px solid #ddd;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin: 20px;

        .paymentMethodLabel {
            border-bottom: none;
            margin-top: 10px;
            margin-bottom: 20px;
        }

        #hiddenPaymentCard,
        #hiddenPaymentInvoice {
            display: none;
        }

        .checkBoxesParent {
            display: flex;

            .checkBoxes {
                display: flex;
                border-bottom: none;
            }
        }

        label {
            margin-bottom: 15px;
            position: relative;
            border-bottom: 1px solid #ddd;

            input {
                width: 100%;
                padding: 10px 0px;
                margin-top: 20px;
                border: none;
                outline: none;

            }
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 0.825rem;
            color: #6b6b6b;
        }
    }

}

/*-----The two following code snippets remove the input number arrows-----*/
input[type=number] {
    -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#orderButton {
    padding: 15px 0px;
    margin-top: 20px;
    color: white;
    background: rgb(86, 171, 82);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#orderButton:hover {
    background-color: rgba(86, 171, 82, 70%);
    transition: all .4s ease;
}

#clearOrder {
    width: 150px;
    padding: 15px 0px;
    margin-left: 20px;
    color: white;
    background: rgb(196, 63, 65);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#clearOrder:hover {
    background-color: rgba(196, 63, 65, 70%);
    transition: all .4s ease;
}
/*--------------End Of Checkout Form-----------------*/