* {
	box-sizing: border-box;
}

/* * {
  outline: 1px solid #f00 !important; // Turn on to see layout and overflowing containers better
} */

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

html {
	scroll-behavior: smooth;
}

/*--------------Error message class-----------------*/
.errorMessage {
    color: red !important;
}

/*--------------Sass rules-----------------*/
$primary-color: #556edf;
$secondary-color: #fdbc91;

/*--------------Header & Intro, by Hanna-----------------*/
header {
	// font-family: "Playfair Display", serif;

	nav {
		background-color: $primary-color;
		opacity: 90%;
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;

    a {
      color: black;
      text-decoration: none;

      h1 {
        font-weight: 600;
      }

      .material-symbols-outlined {
        position: relative;
        top: 25px;
        font-size: 2rem;
      }
    }
	}

	.intro {
		padding-top: 100px;
		display: flex;
    flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px;

		h2 {
			width: 250px;
			height: 250px;
			text-align: center;
			background-color: $secondary-color;
			border-radius: 100%;
			font-weight: 400;
		}

		.intro-img-rubberduck {
			border-radius: 100%;
		}
	}
}

/*--------------Checkout Form, by Hanna-----------------*/
.checkoutContainer {
    min-height: 100vh;
    display: grid;
    place-content: center;
    margin: 5px;
    font-family: sans-serif;

    h3 {
        margin-left: 20px;
        margin-bottom: -10px;
    }

    .checkoutForm {
        width: 90vw;
        max-width: 768px;
        border: 1px solid #ddd;
        padding: 3vw;
        display: flex;
        flex-direction: column;
        border-radius: 5px;
        margin: 20px;

        .paymentMethodLabel{
            border-bottom: none;
            width: 80px;
        }

        .hiddenPaymentCard, .hiddenPaymentInvoice {
            display: none;
        }

        .showPaymentCard, .showPaymentInvoice {
            display: flex;
        }

        label {
            margin-bottom: 15px;
            position: relative;
            border-bottom: 1px solid #ddd;

            input[type=text], input[type=number], input[type=email] {
                width: 100%;
                padding: 10px 0px;
                margin-top: 20px;
                border: none;
                outline: none;
            }
        }

        .checkBoxes {
            border-bottom: none;
        }

        span {
            position: absolute;
            top: 0;
            left: 0;
            font-size: 0.825rem;
            color: #6b6b6b;
        }

    }
}

/*-----The two following code snippets remove the input number arrows-----*/
input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	margin: 0;
}

#orderButton {
	padding: 15px 0px;
	margin-top: 20px;
	color: white;
	background: rgb(86, 171, 82);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#orderButton:hover {
	background-color: rgba(86, 171, 82, 70%);
	transition: all 0.4s ease;
}

#orderButton:disabled {
  background-color: grey;
}

#clearOrder {
	width: 150px;
	padding: 15px 0px;
	margin-left: 20px;
	color: white;
	background: rgb(196, 63, 65);
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

#clearOrder:hover {
	background-color: rgba(196, 63, 65, 70%);
	transition: all 0.4s ease;
}
/*--------------End Of Checkout Form-----------------*/

/*-------------- Main duck page -----------------*/

.duck__wrapper{  
    display: grid;
    justify-content: center;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    gap: 0px;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    grid-template-areas:
      "duck__1 duck__2"
      "duck__3 duck__4"
      "duck__5 duck__6"
      "duck__7 duck__8"
      "duck__9 duck__10";

      img{
        border: 1px solid #000;
        border-radius: 0.5rem;
        width: 130px;
      }

      .slideshow{
        display: flex;
        justify-content: center;
        align-items: center;

        .slideshow_btn_left{
            padding: 0.25rem;
            font-size: 1.25rem;
            background-color: transparent;
            border: none;
            position: relative;
            left: 24px;
            height: 35px;
            width: 35px;
        }

        .slideshow_btn_right{
          padding: 0.25rem;
          font-size: 1.25rem;
          background-color: transparent;
          border: none;
          position: relative;
          right: 24px;
          height: 35px;
          width: 35px;
      }
      
      }

      h3{
        margin: 0;
        padding: 5px;
        text-align: center;
      }

      .duck__info{
        border: 1px solid #000;
        background-color: $primary-color;
        color: #fff;
        border-radius: 0.5rem;
        padding: 5px;
        text-align: center;
        margin: 5px;
      }

      .duck__pricing{
        font-size: 1.25rem;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 10px;
      }

      .duck__amount{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 150px;
        margin: 5px;

        .amount_text{
            position: absolute;
            top: -5px;
        }
      }

      input{
        background-color: rgba(79,79,79,.432);
        width: 2.5rem;
        border: 2px solid gray;
      }

      .add_btn,
      .subtract_btn{
        background-color: $secondary-color;
        color: #000;
        font-size: 1rem;
        width: 35px;
        height: 35px;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #000;
        box-shadow: 2px 2px 2px rgb(95, 90, 90);
        position: relative;
        transition: all 0.15s ease-in-out;
        right: 0px;
        bottom: 0px;
      }

      .add_to_cart_btn{
        background-color: $primary-color;
        color: #fff;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid #000;
        box-shadow: 2px 2px 2px rgb(95, 90, 90);
        position: relative;
        transition: all 0.15s ease-in-out;
        right: 0px;
        bottom: 0px;
      }

      .add_btn:hover,
      .subtract_btn:hover,
      .add_to_cart_btn:hover{
        box-shadow: 3px 3px 3px rgb(95, 90, 90);
        position: relative;
        right: 1px;
        bottom: 1px;
      }

      article{
        border: 1px solid #000;
        background-color: $secondary-color;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 0.5rem;
        padding: 15px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
}

.duck__1{ 
    grid-area: duck__1; 
}

.duck__2{ 
    grid-area: duck__2;
}

.duck__3{ 
    grid-area: duck__3; 
}

.duck__4{ 
    grid-area: duck__4; 
}

.duck__5{ 
    grid-area: duck__5; 
}

.duck__6{ 
    grid-area: duck__6; 
}

.duck__7{ 
    grid-area: duck__7; 
}

.duck__8{ 
    grid-area: duck__8; 
}

.duck__9{ 
    grid-area: duck__9; 
}

.duck__10{ 
    grid-area: duck__10; 
}

/*-------------- End of Main duck page -----------------*/
