@import "normalize";
@import "mobile";
@import "desktop";
@import "cart";

// Detta är en klass för att göra något visuellt osynligt men ändå tillgänglit för screenreaders etc.
// - Joel

.visually-hidden {
	position: absolute;
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}
